/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Make table responsive */
.mat-elevation-z8 {
    overflow-x: auto; /* Add horizontal scroll on small screens */
  }
  
  table {
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .mat-header-cell, .mat-cell {
      padding: 8px 4px;
    }
  
    .mat-column-actions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    /* Example of hiding less important columns on small screens */
    .mat-column-id {
      display: none;
    }
  }

.mat-mdc-table {
    table-layout: fixed!important;
    white-space: normal;
}
  